@import '~@fluentui/react/dist/sass/References.scss';

.applygrid{
  
  //display: grid;
  // grid-template-columns: repeat(4, minmax(200px, 1fr));
  //grid-template-columns:23% 23% 23% 23%;
  //grid-gap:10px;
  //align-items: stretch;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight: bold;
  // background-color:white;
  margin-top:10px;
  padding: 0 5px;
  //overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}
.root-139 {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  /* box-shadow: none; */
  margin: 1px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(50, 49, 48);
  position: relative;
  height: 100px;
  min-width: 52px;
  display: flex;
  align-items: center;
  
   
}

.peopleDirectory{
  background-color: white;
}
.row{
  width: 100%;
}