@import '~@fluentui/react/dist/sass/References.scss';

// .indexNavigation {
//   text-decoration: none;
//    width:800px;
//    margin-left: -4px;
//    margin:10px;
//    div[role^='tablist'] {
//     white-space: normal;
//   //   button{
   
   
//     width:35px;
//     height: 20px;
//     margin-right: 10px;
//     border: 1px solid white;
//    margin:3px;
//     color : white;
//     border-radius: 10px;
//     }
//     button:last-child {
//       font-weight: 600;
//       // margin-left:20px;
//       padding:5px;
      
//       // background-color: white;
//     }
//   }
//   .link-128{
//     padding: 3px;
//     text-decoration: none;
//     background-color:brown;
//   }
// 	[class^='ms-SearchBox'] {
//     background-color: rgba(255, 228, 196, 0.318);
//     border-radius: 10px;
//     margin-left: -2px;
//     background-color: white;
// 	}
//   .button{
//     padding: 5px;
//     margin-left: 100px;
//   }
//   .pivotstyle{
//     padding:5px;
//     text-decoration: none;
//   }

.Navigation{
  background-color:rgb(249, 244, 244);

//  width:100%;
} 
.root-67 {
  background-color: rgb(146, 144, 144);
  color: rgb(50, 49, 48);
}

.linkIsSelected-121::before {
  background-color:white;
  bottom: 0px;
 
  height: 2px;
  left: 8px;
  position: absolute;
  right: 8px;
  transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}




.linkIsSelected-121 {
  outline: transparent;
  position: relative;
  //font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  border: 0px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 8px;
  border-radius: 0px;
  height: 44px;
  color: rgb(50, 49, 48);
  background-color: transparent;
  line-height: 44px;
  margin-right: 8px;
  user-select: none;
}



div.ms-FocusZone.css-46.ms-Pivot.root-120{
  background-color:rgba(248, 244, 244, 0.947);
//  margin:-5px;
 text-decoration: none;
  
}
.link-134 {
  outline: transparent;
  position: relative;
  //font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
   border: 0px; 
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 6px;
  border-radius: 0px;
  height: 44px;
  color: rgb(50, 49, 48);
  background-color: transparent;
  line-height: 15px;
  margin-right: 8px;
  user-select: none;
}
.link-134:hover{
  background-color:rgb(72, 72, 72);
}

.linkIsSelected-127::before {
  background-color:red;
  bottom: 0px;
  
  height: 2px;
  left: 8px;
  position: absolute;
  right: 8px;
  transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}

.PeopleCallout li i.clipboard:hover {
  opacity: 1;
  transform: translateX(1rem);
}

.PeopleCallout li i.clipboard, .PeopleCallout li i.clipboard:hover {
  transition: opacity .3s cubic-bezier(.165,.84,.44,1),transform .3s cubic-bezier(.165,.84,.44,1);
  will-change: opacity,transform;
}

// .PeopleCallout li i.clipboard {
//   border: 1px solid;
//   //background-color:red;
//   border-radius: 100%;
//   cursor: pointer;
//   padding: 0.75rem;
//   position: absolute;
//   transform: translateX(0);
// }

.PeopleCallout li i.clipboard {
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  padding: 0.75rem;
  position: absolute;
}

.PeopleCallout li i {
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin-right: 2rem;
  position: relative;
}
.link-128 {
  outline: transparent;
  position: relative;
  //font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: 400;
  box-sizing: border-box;
  border: 0px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 0px;
  height: 44px;
  color: rgb(50, 49, 48);
  background-color: transparent;
  line-height: 44px;
  margin-right: 8px;
  user-select: none;
}
.linkIsSelected-127:hover{
  background-color:rgb(72, 71, 71);
}
.searchbar{
  margin-left:65%;
  margin-top:10px;
}
.persona_card{
  border: 1px solid rgb(214, 213, 213);
  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow:  rgba(0, 0, 0, 0.23) 0px 0px 5px 2px;
   transition: all 0.5s;
    cursor: pointer;
    padding:5px 0px;
}
// .root-217{
//   height:79px;
// }